<form action='/results'>
  <h1> How Often Does Your Word Appear? </h1>
  <div class="form-group">
    <div class="row">

      <div class="col-md-6">
        <input id="string" name="string" type="text" class="form-control" placeholder="Enter Text">
        <br>
      </div>

      <div class="col-md-6">
        <input id="frequent_word" name="frequent_word" type="text" class="form-control" placeholder="Enter the word you want to find the frequency of!">
        <br>
      </div>

        <br>
      </div>


      <button type="submit" class="btn btn-default btn-lg btn-block">GO!</button>
    </div>
  </div>
</form>

