<!DOCTYPE html>
<html>
  <head>
    <title>Word Frequency</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='style.css'>
  </head>
  <body>
    <div class="container" id="bottom">
      <div class="jumbotron" >
        <img src="word_frequency.jpg">
        <hr>
      <%= yield %>
      </div>
    </div>
  </body>
</html>