@import url('http://fonts.googleapis.com/css?family=News+Cycle');

body {
  font-family: 'News Cycle';
  background-color: black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

#bottom {
  min-height: 100%;  
  min-height: 100vh; 
  display: flex;
  align-items: center;
}