@import url('http://fonts.googleapis.com/css?family=News+Cycle');

body {
  font-family: 'News Cycle';
  background-color: black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

#bottom {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;

}